
 <h1>Users</h1>
<% @users.each do |user| %>
  <p>
    <%= user.name %><br>
    <%= user.email %><br>
    <br>
    <a href="/users/<%= user.id %>"><img src=" <%= user.image %> " width="220" height="220"></a>

  </p>

<% end %>



